* {
  margin: 0;
  padding: 0;  
}

html {
    width: 100%;
    height: 100%;
}


body {
    background-image: url(../fundos/fundos.1.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.all {
    display: flex;
    padding: 50px;
    position: relative;
    align-items: center;
    height: 100%;
    transition: 2s;
}

.all h1 {
    color: rgb(49, 48, 48);
    text-shadow: black 20px;
}

.ufpe {

    position: absolute;
    top: 5%;
    padding: 20px;
}

.ufrpe {

    position: absolute;
    padding: 15px;
    bottom: 18%;
}


.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
}

input {
    border-radius: 10px;

}

button {
    border-radius: 7px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 844px) {
    .all h1 {
        font-size: 20px;
    }

    input {
        width: 120px;
    }

    button {
        width: 50px;
    }

    h4 {
        font-size: 12px;
    }
}